@import "tailwindcss";

@layer utilities {
  @keyframes slide-slow {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-slide-slow {
    animation: slide-slow 40s linear infinite;
  }

  .pause-animation {
    animation-play-state: paused !important;
  }
}
